{% extends 'main.html' %}

{% block content %}


{% if page == 'login' %}
 <div>
     <form  method="POST"> 
         {% csrf_token %}
         {{loginform }}

         <input type="submit" value="Login" />
     </form>
     <p>Haven't Signed up Yet </p>
     <a href="{% url 'register' %}">Sign Up</a>
 </div>

{% else %}
 <div>
    <form  method="POST"> 
        {% csrf_token %}
         
         {{form.as_p}}

        <input type="submit" value="Register" />
    </form>
    <p> Already Signed Up </p>
     <a href="{% url 'login' %}">Log in </a>
</div>
{% endif %}

{% endblock content %}