{% extends 'main.html'%}

{% block content %}
   {% include 'navbar.html' %}
   <style>
      .room-container {
         display: grid;
         grid-template-columns: 3fr 1fr ;
      }
   </style>

   <div class="room-container">
      <div>

         
         <h2>Room Topic:  {{room.name}}</h2>
         <hr>
         <p>{{room.description}}</p>

         <div class="comment- wrappper">
               <h3>Conversation</h3>
               <hr>
               {% for message in room_messages %}
                 <div>
                      {% if request.user == message.user %}
                        <a href="{% url 'delete-message' message.id %}"> Delete </a>
                     {% endif %}
                     <small><h5>@{{message.user}}  {{message.created |timesince}} ago </h5> </small>
                     <p>{{message.body}}</p>
                     <hr>
                  </div>
               {% endfor %}
         </div>
         
            {% if request.user.is_authenticated %}
            <div class="comment-wrapper">
                  <form action="" method="post"> {% csrf_token %}
                     <input type="text" name ="body" placeholder="Enter Message Here....." />
            
                  </form>
            </div>
            {% endif %}
      </div>

      <div>
         <h3>Paricipants</h3>
         <hr>
         {% for participant in  participants %}
         <div>
            <p>@ {{ participant.username }}</p>
         </div>
         {% endfor %}
      </div>
   </div>
{% endblock%}
